Babel==2.12.1
Flask-Admin==1.6.1
Flask-AppBuilder==4.3.0
Flask-Babel==2.1.0
Flask-Bcrypt==1.0.1
Flask-Caching==2.1.0
Flask-JWT-Extended==4.5.0
Flask-Login==0.6.3
Flask-OpenID==1.3.0
Flask-SQLAlchemy==3.0.0
Flask-WTF==1.1.1
Flask==2.3.3
JPype1==1.4.2
JayDeBeApi==1.3.1
Jinja2==3.1.3
Mako==1.3.0
Markdown==3.4.4
MarkupSafe==2.1.3
PyHive==0.6.6
PyJWT==2.7.0
PyNaCl==1.5.1
PySmbClient==0.1.6
PyYAML==6.0.1
Pygments==2.16.1
SQLAlchemy-JSONField==1.0.1
SQLAlchemy-Utils==0.41.0
SQLAlchemy==2.0.20
Sphinx==7.2.3
Unidecode==1.4.2
WTForms==3.1.0
Werkzeug==2.3.7
adal==1.3.0
alabaster==0.7.13
alembic==1.12.0
amqp==5.1.2
analytics-python==1.4.1
ansiwrap==0.9.0
apipkg==1.6
apispec==5.2.0
appdirs==1.4.5
argcomplete==3.1.0
asn1crypto==1.6.2
astroid==2.15.3
async-generator==1.11
attrs==23.1.0
aws-sam-translator==1.60.0
aws-xray-sdk==3.0.1
azure-common==1.1.29
azure-cosmos==4.5.0
azure-datalake-store==0.0.53
azure-mgmt-containerinstance==9.1.0
azure-mgmt-resource==23.2.0
azure-storage-blob==12.18.2
azure-storage-common==2.1.1
backcall==0.2.1
bcrypt==4.0.2
beautifulsoup4==4.13.0
billiard==3.6.5.0
black==23.7.0
blinker==1.6.0
boto3==1.29.79
boto==2.50.0
botocore==1.32.79
cached-property==1.6.0
cachetools==5.3.1
cassandra-driver==3.28.0
cattrs==23.2.0
celery==5.2.7
certifi==2023.7.22
cffi==1.16.0
cfgv==3.4.0
chardet==5.0.0
click==8.2.0
cloudant==2.16.0
colorama==0.4.7
colorlog==6.0.0
configparser==5.3.0
coverage==7.3.1
croniter==1.4.1
cryptography==41.0.3
datadog==0.45.0
decorator==5.2.0
defusedxml==0.7.2
dill==0.3.6
distlib==0.3.7
dnspython==2.4.2
docker-pycreds==0.5.0
docker==6.1.3
docopt==0.6.3
docutils==0.20.1
ecdsa==0.19.0
elasticsearch-dsl==7.4.2
elasticsearch==8.10.1
email-validator==2.1.0.post1
entrypoints==0.5
execnet==1.10.0
fastavro==1.8.2
filelock==3.12.3
flake8==7.0.0
flower==1.3.1
fsspec==2023.9.0
future==0.19.1
gcsfs==2023.9.0
google-api-core==2.11.1
google-api-python-client==2.96.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-auth==3.10.0
google-cloud-bigquery==3.14.1
google-cloud-bigtable==1.8.0
google-cloud-container==2.16.0
google-cloud-core==2.4.0
google-cloud-dlp==3.12.2
google-cloud-language==2.5.0
google-cloud-secret-manager==2.17.1
google-cloud-spanner==3.25.0
google-cloud-storage==2.13.0
grpcio==1.57.1
gunicorn==21.1.0
hdfs==2.8.0
httplib2==0.22.0
hvac==1.1.1
identify==2.5.12
idna==3.4
importlib-metadata==6.8.0
inflection==0.5.2
ipython==8.16.0
iso8601==1.1.0
itsdangerous==2.1.3
jedi==0.19.1
jsonschema==4.19.1
kombu==5.3.1
lazy-object-proxy==1.9.0
lockfile==0.12.3
marshmallow-enum==1.5.2
marshmallow-sqlalchemy==0.27.0
marshmallow==3.21.0
mccabe==0.7.1
mock==5.1.0
more-itertools==10.7.0
moto==4.2.5
mysqlclient==2.2.1
nbclient==0.7.5
networkx==3.1
numpy==1.26.0
pandas-gbq==0.19.1
pandas==2.1.0
psycopg2-binary==2.9.7
redis==5.1.0
requests==2.31.0
setproctitle==1.4.0
six==1.16.0
slackclient==1.3.3
snowflake-connector-python==3.0.3
sqlalchemy==2.0.20
websocket-client==1.6.3
Cython==3.1.0
apache-airflow-providers-apache-spark==4.10.0
pyspark==3.4.0
